<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="css/food-truck-test-styles.css">
</head>
<body>

    <button onclick="getLocation()">Try It</button>
    <p id="demo"></p>

    <div id="mapholder"></div>

<div ng-app="truckApp" ng-controller="truckCtrl">
<table>
    <tr ng-repeat="x in trucks">
        <td><img src="{{ x.image_url }}"></td>
        <td>
            <p><b>{{ x.name }}</b></p>
            <p>{{ x.display_phone }}</p>
            <p>(Schedule?)</p>
            <p><a href="{{ x.url }}" target="blank">Find us on Yelp!</a></p>
        </td>
        <td>
            <p ng-repeat="addrstrings in x.location.display_address">{{ addrstrings }}</p>
            <p><a href="https://www.google.com/maps/search/?api=1&query={{x.coordinates.latitude}},{{x.coordinates.longitude}}">Click</a></p>
        </td>
    </tr>
</table>
</div>

</body>

<script src="js/truckController.js"></script>
<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
        case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
    }
}
</script>

</html>
